body
{
    font-family: monospace, sans-serif;
    color: #25283D;
    background-color: #8B939C;
}

a { color: #81F4E1;}
a:hover { color: #8F3985;}

header
{
    font-family: Georgia, serif;
    text-align: center;
    color: #282b42;
}