body
{
    font-family: monospace, sans-serif;
    color: #25283D;
    background-color: #8B939C;
    margin-left: 100px;
    margin-right: 100px;
}

main
{
   font-family: georgia, serif;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

a 
{ 
    color: #8f6d39; 
    text-decoration: none;
}
a:hover { color: #81F4E1;}



h2 { text-align: center; }

header
{
    font-family: Georgia, serif;
    text-align: center;
    color: #282b42;
}

table, th, td
{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

table tr:nth-child(odd) 
{
    background-color: #467a72;
}

table tr:nth-child(even) 
{
    background-color: #81F4E1;
}

header h1 { font-size: 40px; }

header nav,footer nav { font-size: 20px; }

footer 
{
    text-align: center; 
    font-family: georgia, serif;
}

label
{
    margin: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

.btn
{
    background-color: burlywood;
}

button, input
{
    margin-bottom: 10px;
}

.calculator
{
    max-width: 150px;
}


.calculator__display 
{
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: right;
}

.calculator__keys 
{
	display: grid;
    background-color: white;
	grid-gap: 1px;
	grid-template-columns: repeat(4, 1fr);
}

.key--operator {
	background-color: white;
}

.key--equal {
	background-color: orange;
	grid-column: -2;
	grid-row: 2 / span 4;
}

div.slideshow, div.slideshow > *
{
    box-sizing: border-box;
}

.slideshow
{
    position: relative;
}
.slide
{
    display: none;
    text-align: center;
}
.previous, .next
{
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -40px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous:hover, .next:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}
.caption-box
{
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}
.column
{
    float: left;
    width: 16.66%;
}
.demo
{
    opacity: 0.6;
    width: 100%;
}
.active, .demo:hover
{
    opacity: 1;
}