body
{
    font-family: monospace, sans-serif;
    color: #25283D;
    background-color: #8B939C;
    margin-left: 100px;
    margin-right: 100px;
}

main
{
    margin-left: 100px;
    margin-right: 100px;
}

a { color: #8F3985;}
a:hover { color: #81F4E1;}

main img
{
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2
{
    text-align: center;
}

header
{
    font-family: Georgia, serif;
    text-align: center;
    color: #282b42;
}

footer
{
    text-align: center; 
}