body
{
    font-family: monospace, sans-serif;
    color: darkorchid;
    background-color: rgb(253, 224, 229);
    margin-left: 100px;
    margin-right: 100px;
}

main
{
   font-family: georgia, serif;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

a 
{ 
    color: darkorchid; 
    text-decoration: none;
}
a:hover { color: darkorchid;}

header
{
    font-family: Georgia, serif;
    text-align: center;
    color: darkorchid;
}

footer 
{
    text-align: center; 
    font-family: georgia, serif;
}

nav
{
background-color: rgb(33, 199, 199);
font-size: 30px;
}