body
{
    font-family: monospace, sans-serif;
    color: #25253d;
    background-color: #8aaa9f;
    margin-left: 100px;
    margin-right: 100px;
}

main
{
   font-family: georgia, serif;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

a 
{ 
    color: #39828f; 
    text-decoration: none;
}
a:hover { color: #39828f;}



h2 { text-align: center; }

header
{
    font-family: Georgia, serif;
    text-align: center;
    color: #25253d;
}