<footer>
    <nav>
      <a href="https://webpages.charlotte.edu/zprice2">Charlotte Home</a> 🐈‍⬛ 
      <a href="https://swiftsimmer.github.io/itis3135/">ITIS3135</a> 🐈‍⬛ 
      <a href="https://github.com/swiftsimmer">Github</a> 🐈‍⬛ 
      <a href="https://github.com/swiftsimmer/swiftsimmer.github.io">Repository</a> 🐈‍⬛ 
      <a href="https://www.freecodecamp.org/zprice">FreeCodeCamp</a>🐈‍⬛ 
      <a href=https://www.codecademy.com/profiles/swift_simmer>CodeAcademy</a> 🐈‍⬛ 
      <a href="https://jsfiddle.net/user/swiftsimmer/fiddles/">JSFiddles</a> 🐈‍⬛ 
      <a href="https://www.linkedin.com/in/zachary-price-74a0391a3/">LinkedIn</a>
    </nav>
    <p>
        <a href = "https://jigsaw.w3.org/css-validator/check/referer">
            <img src = "images/button_validation_css.png" />
        </a>	
        <a href = "http://validator.w3.org/check?uri=referer">
            <img src = "images/button_validation_html5.png" />
        </a>  
    </p>  
    <h3>
        Page built by  <a href = "pricepages.net/">Price Pages LLC</a> &copy;2022.
    </h3>
  </footer>