<header>
    <h1>
        Zachary Price | ITIS 3135-091 | Zombie Panther
    </h1>
    <nav>
      <a href = "./">Home</a> |
      <a href = "introduction.html">Introduction</a> |
      <a href = "contract.html">Contract</a> |
      <a href = "forms.html">Forms</a> |
      <a href = "tables.html">Tables</a> |
      <a href = "website_evaluations.html">Website Evaluations</a> |
      <a href = "crap/€ --CAsH MOneY .htm">Crap</a> |
      <a href = "first_js.html">First JS</a> |
      <a href = "polygon.html">Name that polygon</a> |
      <a href = "calculator_try.html">Calculator Try</a> |
      <a href = "calculator.html">Calculator FCC</a> |
      <a href = "arrays.html">Arrays</a> |
      <a href = "accessibility/Price-Activity_Accessibility.html">Accessibility</a> |
      <a href = "project_design.html">Project Design</a>
      <a href = "slideshow.html">Slideshow</a> |
      <a href = "Activity10.html">Image Swap</a>
      <a href = "price-Activity11.html">Accordion</a> |
      <a href = "Updated-Activity12/price-Activity12.html">Carousel</a> |
      <a href = "Activity13/price-Activity13.html">XML to JSON</a> |
      <a href = "project/">Project</a> |
      <a href = "peerreview1.html">Peer Review 1</a> |
      <a href = "peerreview2.html">Peer Review 2</a> 

      
  </nav>
  </header>